body, html{
height: 100%;
margin: 0;
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*
    als we parralax wille
    background-attachment: fixed;
    */
}
.pimg1{
    background-image: url('../../img/hk.jpg');
    min-height: 100%;
}
.pimg2{
    background-image: url('../../img/shanghai.jpg');
    min-height: 400px;
}
.pimg3{
    background-image: url('../../img/city.jpeg');
    min-height: 400px;
}
section{
    text-align: center;
    padding: 50px 80px;
}
 /* .container {
 background-color: #282e34;
 color: #ddd;

} */

.paragraph{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
}
.paragraph .border {
    background-color: #111111;
    opacity: 0.7;
    color: #ffffff;
    padding: 20px;
}
.footer{
    background-color: rgba(178, 166, 166, 0.43)
}
ul{
    text-decoration: none;
    list-style: inline-block;
}

.nav {
}
