body, html
{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: #f8e7dc;
  position: relative;
}

.ball.fixed
{
  position: fixed;
  width: 500px;
  height: 200px;
  top: 40%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index: 0;
}

.intro {
  margin-top: 35%;
  height: 35%;
}

.first
{
  min-height: 20%;
}

.fades
{
  display: none;
}

.sub-hero
{
  position: relative;
}

.sub-hero.bg-hero
{
  background-color: #fceee3;
}

.pb-big
{
  padding-bottom: 10rem;
}

.pt-big
{
  padding-top: 10rem;
}

.bg-white
{
  background-color: #fff;
}

.big-text
{
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: bold;
}

.large-icon
{
  font-size: 25rem;
}

.parallax
{
  /* The image used */
  background-image: url("../../img/LEGO_TECHNIC_Logo.gif");

  /* Set a specific height */
  height: 15rem;
  padding-top: 70%;

  /* Create the parallax scrolling effect */
  background-size: 50rem ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-2
{
  background-image: url("../../img/table-tennis-2010329_1920.jpg");
  /* Create the parallax scrolling effect */
  height: 35rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.footer-distributed{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #2274E0;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #BDC3C7;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
